/* 22-02-22 22.05  */
body{background: #f0efed;color:   #6C6761; margin:0 auto; display: grid;
    justify-content: center;}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url("../fonts/Marsnev - LEMON MILK Pro Regular.otf");
        }
@font-face {
  font-family: 'FS Me';
  src: url("../fonts/FS Me-Regular.otf");
        }

/* .panel{display: none;} */
.grid-container{
    margin-left:16px  ;
    margin-right:16px ; 
}

strong{
    font-weight: 700 !important;
}
.grid-container{max-width: 1056px !important;margin:0 auto !important;}

.info-box-container .icon-block, .info-box-container .title-block,  .info-box-container p, .info-box-container .dropdown{
    cursor: hand;
     
}


@media screen and (min-width:400px) and (max-width: 767px) {
    
   
            .grid-container{
                margin-left: 16px !important;
                margin-right: 16px !important;
                
            }
            .info0 {
                margin-top: -14px !important;
    margin-bottom: 28px !important;
     
            }
            
            
            
}   

        @media screen and (min-width: 767px) {
            
            
          }     

          
          
          

          @media screen and (max-width: 400px) {
            .box1{
                padding-bottom: 25px !important;
                 
            }

            .slide1 .hr1{    margin-bottom: 34px !important;}
            .slide1 .info{    padding-bottom: 34px !important;}

              .grid-container{
            margin-left:16px !important;
            margin-right:16px !important;
             
        
        }

        .info0{
            max-width: 300px;
            margin: 0 auto;
        }

            .info-box-container{
               
                margin: 0 auto;
                width: 100%;
                 
                max-width: 1056px;
                 
                
      
            }
            
            .info-box-container .title-block{
                 
                padding: 0 !important;
                text-align: center;}

            ul{
                column-count: 1 !important;
            }
            .slide1 .info1{
                padding: 0px !important;
            }
            .slide1 .info1 p{
                max-width: 283px;
                margin: 0 auto;
            }
            .slide1 .info1 p strong{
                font-size:  20px ;
            }

            .slides .col-d-2 .btn, .slides .col-d-3 .btn {
                margin: 0 auto !important;
                padding-top: 8px !important;
                padding-bottom: 8px !important;
            }
            .slides .info3 {
                max-width: 307px !important;
                margin: 0 auto;
            }
            .slide .info1 {
                font-size: 16px;
                padding: 0px !important;
               
                
                line-height: 19.06px !important;
                 
                margin: 0 auto;
            }
            .slide .info1 p{
                margin: 0 !important;
                padding: 0 20px;
            }
            .slide .info{
                padding: 5px 20px 15px 20px;
            }

            .slide1 .info {
                padding: 1px 0px 25px 0px !important;
                max-width: 269px;
                margin: 0 auto;
            }

            .slide3 .info1{
                max-width: 307px !important;
            }
 
.slide3 .info3 {
    font-size: 24px !important;
    line-height: 28.56px !important;
    letter-spacing: 0px;
    max-width: 301px !important;
    margin: 0 auto;
    padding: 0;
    /* border: 2px solid red; */
}
.slide3 .hr1{
    margin-top:0px !important ;
    margin-bottom: 37px !important; 
}
 
.slideC .info {
    font-size: 16px !important;
    line-height: 19.04px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
}
.slideC .hr2 {
     
    margin-top: 33px !important;
    margin-bottom: 0px !important;
}

.slideC .icon-block{
    padding: 35px 0 28px 0 !important;
}

.slideC .info3 {
     
    font-size: 24px !important;
    line-height: 28.56px !important;
    padding: 8px 0px 56px 0px !important;
    max-width: 305px !important;
    margin: 0 auto !important;
}

.slideC .btn2, .slideC .btn3{
    padding: 0 !important;
}

  .btn{
     
    margin-top: 51px !important;
    padding: 9px 4px 9px 7px !important;
    margin: 0 auto !important;
}


.slideC .hr1 {
    margin-top: 33px;
    margin-bottom: 33px !important;
}

      .dropdown8{
          height: 322px;
      }
     
.separador-dropdown{
    padding: 0px 18px 0 18px !important;
}
    .dropdown8{
        padding-bottom: 25px;
    }
    
} 

/* On screens that are 375px or less */
@media screen and (max-width: 766px) {

    .grid-container{
        margin-left: 32px  ;
        margin-right: 32px  ;
    }

    .info-box-container .title-block{
         
        padding: 0  ;
        text-align: center;
        
        font-family: FS Me;
        font-size: 20px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    
    }

    .info-box-container .dropdown{
        padding: 42px 0 30px 0 !important;
    }



    .title-block{
        max-width:300px !important; 
       
    }

    .dropdown3 .title-section{
        padding:4px 20px 0 20px !important;
    }

.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    border-radius: 7px;
     
    

}
.icon-block{padding-left: 5px !important;}
.dropdown{padding-right: 5px !important;}

 
/* .info{
    font-family: FS Me;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 17px !important;
    letter-spacing: 0em;
    text-align: center;
    padding: 2px 0 6px 0 !important;
} */

.info2{
	 
	font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    padding: 38px 24px 0 27px;
    line-height: 20px;

 

}

.icon-block{
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 32px 0;
}
.slide3 .info{
   
}
.slide3 .info p{
    max-width: 288px;
    margin: 0 auto;
    padding: 0 0 10px 0;
     
}

.slides .icon-info{
    font-family: FS Me;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 19px !important;
    letter-spacing: 0em !important;
    text-align: center;
    padding: 17px 0 30px 0 !important;
}

.slides .icon-block{
    padding: 50px 0 0 0;
}



/*.slides .info{    font-size: 22px !important;}*/

.title-block{
        
       font-family: FS Me;
    font-size: 19px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px 0 30px !important;
    color: #095751;
    margin: 0 auto;

} 
.dropdown{margin: 0 auto;
    padding: 32px 0 50px 0;}
.box2 .title-section{
    padding: 0 66px !important;
}

.box2 .info1 p{   
    font-size: 16px !important;
    padding: 34px 0 !important;
    line-height: 18px !important;
}



.separador{
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    

     

}
.col-d-2 .separador{
     padding: 16px 0 4px 0;
     display: grid;
}

.col-m-2{
    display: grid;
      grid-template-columns:  1fr auto !important;
      height: 120px;
       
}
.col-m-2 .icon-block{
         
        padding: 0;
        margin: 24px 0 0 0;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
          text-align: left !important;
}
.col-m-2  p{

    text-align: left !important; 


}

.col-d-3 .col-m-2{
grid-template-columns: 19% 1fr !important;
height: auto !important;
 
 
}

.col-d-3 .col-m-2 .title-block{
    padding: 0 !important;
}

.col-d-3 .servicio1 .title-block{
    padding: 48px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio2 .title-block{
    padding: 46px 0 0px 19px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio3 .title-block{
    padding: 42px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio4 .title-block{
    padding: 51px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio5 .title-block{
    padding: 38px 22px 0 21px !important;
    letter-spacing: 0 !important;
}



.box3 .info1 p{
        padding: 37px 0 !important;
        font-size: 16px !important;
        
}


.box4 .icon-block{
    padding: 28px 0 0 0 !important;
}

.box4 .info p{
     
    padding: 11px 15px 0 15px !important;
    font-size: 20px !important;
     
    line-height: 25px;
     

        
}
.box3 .info1 p{
         
        font-size: 16px !important;
        
}

.btn{
    width: 146px !important;
    /* padding: 8px 2px !important; */
    margin: 0 auto !important;
    margin-top: 30px !important;
    margin-bottom: 54px !important;
     
}

.btn1, .btn2, .btn3{
    
    margin: 0 auto !important;
}


ul {
 
    /* column-count: 1 !important; */
}

li{       padding: 16px 0 0px 11px !important;}


.slides .btn1 {
    width: 112px !important;
    /* padding: 9px 0 !important; */
    margin: 11px 0 0px -31px;
}

.slides .btn2 {
    width: 167px !important;
    padding: 9px 0 ;
    margin: 11px 0 0px -31px;
}

.slides .btn3 {
    width: 236px !important;
    padding: 9px 0 ;
    margin: 11px 0 0px -31px;

}

.slides .btn{margin-bottom: 20px !important;}

.slide .hr1{
     margin-top:0px !important ;
    
}

.slide .hr2{
    margin-top: 34px !important;
    margin-bottom: 21px !important;
}

.slide .hr3{
    margin-top: 38px !important;

    margin-bottom: 19px !important;
}

.slide .hr4{
    margin-top: 30px !important;
    margin-bottom: 34px !important;
}

.slide .info {
    font-size: 16px;
    padding: 13px 20px 20px 20px !important;
    max-width: 380px;
    margin: 0 auto;
}

.slide .info1{
    font-size: 16px;
    /* padding: 2px 20px 20px 20px !important; */
    max-width: 325px;
    margin: 0 auto;
}

.slide .info2{
    font-size: 16px !important;
    padding: 41px 5px 8px 5px !important;
    font-weight: 400 !important;
    line-height: 19.04px !important;
    margin-bottom: -4px !important;
}

.slide .info3{
    padding: 0px 20px !important;
    margin: 31px 0 53px 0 !important;
    font-size: 24px !important;
    line-height: 28.56px !important;
}

.slide ul {
     
    max-width: 713px;
    padding: 20px 1px 0px 45px !important;
}

.slide1 ul{
     
    max-width: 713px;
    padding: 1px 1px 0px 45px !important;
}

.slide .ul-ademas{
    padding: 0 !important;
}

/*Slide 1*/

.slide .info {
     
    font-size: 16px;
    padding: 10px 0px 26px 0px !important;
    max-width: 305px !important;
    margin: 0 auto;
}
.slide .info1{
    font-size: 16px !important;
    padding: 10px 0px 20px 0px !important;
    max-width: 305px !important;
    line-height: 19.04px !important;
    font-weight: 400 !important;
      
   /* max-width: 700px; */
    margin: 0 auto;
}

.slide1 .info1{
    font-size: 16px !important;
    padding: 0 17px ;
    line-height: 19.04px !important;
    font-weight: 400 !important;
     
    max-width: 700px;
    margin: 0 auto;
}

.slide1 .hr2{
    margin-top: 33px !important;
    margin-bottom: 36px !important;
}

.slide1 .hr3{
    margin-top: 37px !important;
    margin-bottom: 34px !important;
}

.slide1 .icon-block1 {
    padding: 2px 0 25px 0;
}


/*slide2*/

 

/*slide3*/
 .slide3 {
     padding-bottom: 33px;
 }

.slide3 .col-d-3 , .slide .col-d-3{
    display: grid !important;
    justify-content: center;
    row-gap: 16px;
    /**esto desmonta el responsive*/
    /* grid-template-columns: 25% 30% 1fr; */
    
}

.slide3 .hr2{
    margin: 36px 0 33px 0 !important;
}

.slide3 .icon-block{
    margin: -28px 0 0 0 !important;
}

.slide3 .info{
    
    font-size: 16px !important;
    line-height: 19.04px !important;
     
    padding: 1px 10px 22px 10px !important;
    max-width: 362px;
    margin: 0 auto;
     

    
}

.slide3 .info1{
    font-family: FS Me;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: 0px;
    text-align: center;
    color: #6C6761;
    padding: 1px 10px 6px 10px !important;
    max-width: 566px ;
     
    margin: 0 auto !important;
     
}

.slide3 .info1 .icon-block{
        padding: 44px 0 24px 0 !important;
}

.slide3 .info2{
     
    font-size: 16px !important;
    line-height: 19.04px !important;
    font-weight: 400 !important;
    padding: 20px 10px 6px 10px !important;
     
}

 
.slide3 .info3 {
    font-size: 24px !important;
    line-height: 28.56px !important;
    letter-spacing: 0px;
    max-width: 312px !important;
    margin: 0 auto;
    padding: 23px 0 25px 0;
    
}

.slide3 .hr3{
    margin-top: 28px !important;
    margin-bottom: 22px !important;
}

.slide3 .icon-block{
    padding: 44px 0 24px 0 !important;
}

.slide4 .hr0{
    margin-bottom: 37px;
}

.slide4 .info{
    margin-bottom: 18px !important;
}

.slideC .info0{
    margin-bottom: -16px ;
}
.slideC .info {
      
    font-size: 16px ;
    line-height: 19.04px ;
    font-weight: 400 ;
    padding: 8px 58px 25px 58px ;
    margin-bottom: 45px;
}
.slideC .hr2 {
     
    margin-top: 33px ;
    margin-bottom: 0px ;
}

.slideC .info3 {
     
    font-size: 24px ;
    line-height: 28.56px ;
    font-weight: 400 ;
    padding: 8px 58px 25px 58px ;
}





}/*@media screen and (max-width: 375px)*/

/*@media screen and (min-width: 768px) {*/
@media screen and (min-width: 765px) {

    .page-title{
        font-size: 28px !important;
        margin-top: 65px!important;
        margin-bottom: 65px!important;
    }
   

    .grid-container{
        margin-left: 32px !important;
        margin-right: 32px !important;
    }
    .dropdown {
        padding: 63px 0 0px 0px !important;

    }
    .slides .info1 {
        font-size: 20px !important;
    }

    .slide .info2{
        margin-bottom: 0px ;
        padding: 15px 20px 0 20px;
    }

    .slide .info3{
         
 
        font-size: 20px;
        font-weight: 400;
        line-height: 23.8px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 618px;
        margin: 0 auto !important;
    }

    .slide .info3 p{
        margin: 10px 0 0 0;
    }

    .slide .col-d-3{
        max-width: 627px;
    }

    .slide3 {padding-bottom: 10px;}

    .slide3 .col-d-3{
        grid-template-columns: 25% 33% 1fr !important;
        
        max-width: 618px;

    }
    .slide3 .hr2 {
        margin: 41px 0 45px 0!important;
    }
    
    .slide3 .info1{
        max-width: 620px !important;
    }
    .slide3 .info p{
        
    
        
    }
    .slide3 .info2 ,.slide .info2  {
        margin-top: 16px !important;
    margin-bottom: 21px !important;
    line-height: 28.3px !important;
     
    max-width: 500px !important;
    }
    
    .slide3 .btn2 {
        width: 183px;
        margin: 0 auto;
        margin-top: 11px;
        margin-right: 13px !important;
    }

    .slide3 .col-d-3 .btn{
        padding: 16px 0px !important;
    }
    .slide4 .hr1 {
        margin-top: -4px !important;
        margin-bottom: 27px !important;
    }

    .slideC  .icon-block {
        padding: 24px 0 24px 0 !important;
         
    }

    .slideC .hr0{
        margin-bottom: 29px;
    }


    .slideC .info0{
         
        max-width: 610px !important;
        margin: 0 auto;
        padding-bottom: 44px !important;
        padding-top: 10px !important;
    }

    .slideC .info {
        font-size: 20px !important;}

        .slideC .col-d-2 {
            display: grid; 
            grid-template-columns: 1fr 1fr !important;
            /* max-width: 550px; */
        }

        .slideC .info3 {
            font-size:20px !important ;
            font-weight: 400 !important;}


            .slideC .col-d-2 {
                /* display: grid; */
                /* grid-template-columns: 1fr 1fr !important; */
                  max-width: 550px;  
                margin: 0 auto;
                display: grid !important;
                justify-content: center;
                row-gap: 20px;
                padding: 20px 0 0 0;
                max-width: 548px;
            }
            
            .slides .info2 {
                font-size: 24px;
                margin-bottom: 30px;
                 margin-top: 26px;
                 padding: 0 !important;
            }

}/*    //"media query 768   */



/* On screens that are 1056 or less */
@media screen and (min-width: 1056px) {
    
 
.top-btn {
    margin: 0 auto;
    padding: 42px 0 !important;
}
    .page-title{
        font-size: 50px !important;
        margin-top: 121px!important;
        margin-bottom: 88px!important;
    }
	.info-box-container{
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 10% 80% 10% !important;
    max-width: 1056px;
    border-radius: 7px;
    height: 135px !important;
    

}

 

.col-m-2{
     
     
       
}

.col-m-2 .icon-block{
 
}

.col-d-2{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    max-width: 600px;
    margin: 0 auto;
 
}



.col-d-2 .separador{
     
     display: none;
}
.col-m-2 .title-block {
padding: 12px 0 7px 0 !important;
}

.col-m-2  p {

padding: 7px 31px 0 28px !important;
font-size: 16px !important;


}

.icon-block {
 
        /* padding: 2.8vw 0 0 2vw !important; */
}

.icon-dropdown{
    padding: 2.7vw 0 0 0.9vw !important;
}
.title-section{
 
font-size: 32px !important;
 

letter-spacing: 0rem !important;
line-height: 36px !important;

}

.col-d-3 {
display: grid;
max-width: 833px;
grid-template-columns: 30% 33% 36%; 
margin: 0 auto;
}


 
.box1 .title-section {
     
    text-align: left;
    font-size: 24px !important;
    line-height: 28px !important;
}
 

.box3 .info1{
padding: 0px 17px 0 17px !important;
}

.box3 .info1 p{    padding: 18px 0 50px 0 !important;}

.box4 .icon-block{    padding: 55px 0 9px 0 !important;}

.box4 .info{padding: 0 202px !important;}
.box4 .info1{padding: 0   !important;font-size: 18px !important;}


.box4 .btn{
margin-top: 51px;
   margin-bottom: 78px;
}

.dropdown {
    padding: 39px 0 0px 1vw;
}

.icon-block img {
    width: 15vw;
    max-width: 88px;
    padding: 18px 0 0 11px;
}

.info1{
    font-family: FS Me;
    font-size: 20px ;
    font-style: normal;
    font-weight: 400;
    line-height: 23px !important;
    letter-spacing: 0px;
    text-align: center;
    color: #6C6761;
    padding: 18px 17px 18px 17px !important;
    margin: 0;
}
.slide1 .hr3 {
    margin-top: 26px;
    margin-bottom: 49px;
}

.slide3 .info2{
    font-size: 15px !important;
    padding: 7px 20px 0 20px !important;
}

.slide3 .info3{
    font-size: 20px !important;
    padding: 1px 20px 50px 20px !important;
    line-height: 22px !important;
}


.slide3 .hr2{
    margin: 45px 0 0 0 !important;
}

.slide3 .hr3{
    margin: 8px 0 39px 0 !important;
}

.slide4 .info0{
    padding: 20px 20px 0 20px !important;
}


}/* @media screen and (min-width: 400px) */

@media screen and (min-width: 767px) {
    
    .info-box-container{
               
        margin: 0 auto;
        width: 100%;
        grid-template-columns: 14% 77% 10%;
        max-width: 1056px;
        

    }
     


    .btn {
        margin-top: 11px !important;
        /* padding: 15px 0 5px 0 !important; */
       
    }


    .box1 .title-section{
        padding: 43px 0 33px 39px;
        text-align: left;
        /* font-size: 25px !important; */
    }


.col-d-3{
    display: grid;
    grid-template-columns: 25% 30% 1fr;
     
    margin: 0 auto;
    
}




.icon-block{  padding: 16px 0 2px 31px !important;}
.icon-block img {
    width: 15vw;
    max-width: 88px;
    padding: 0 0 21px 0 !important;
}

.slide .hr1{
    margin: 0px 0 30px 0 !important;
}

.slide .hr2 {
    margin-top: 42px !important;
    margin-bottom: 40px !important;
}


.slide .hr3{
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.slide .hr4{
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.slide .info{
    font-size: 20px !important;
     
    padding: 14px 0 36px 0 !important;
}
.slide .info1{
    
    padding-bottom: 37px;
}

/*Slide 1*/
.slide1 .info{
     
    font-size: 20px !important;
    padding: 27px 0px !important;
}

.slide1 .info1 {
    font-size: 20px !important;
    /* padding: 27px 0px !important; */
    line-height: 23.8px;
    max-width: 622px !important;
    margin: 0 auto !important;
}



.slide1 .hr1 {
    margin-top: 2px;
    margin-bottom: 19px;
}
.slide1 .hr2 {
    margin-top: 39px;
    margin-bottom: 39px;
}
.slide1 .hr3{
    margin-top: 34px;
    margin-bottom: 47px;
     
}

.slide1 .icon-block1{
    margin-top: 37px !important;
}
/*Slide 2*/


.slide2 .hr1{
    margin-top: 10px;
     
}
/*Slide 3*/
.slide3 .hr3{
    margin: 43px 0 24px 0 !important;
}
.slide3 .info1{
    line-height: 23.8px !important;
}
.slide3 .info{
    font-size: 20px !important;
    line-height: 23.8px !important;
    max-width: 634px;
    margin: 0 auto;
    padding: 29px 20px 30px 20px !important;
     
}

.slide3 .info3{
    font-family: FS Me;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    /* padding: 0px 68px !important; */
    /* margin: 31px 0 53px 0 !important; */
    max-width: 625px;
    margin: 0 auto !important;
     
     
}

.slide4 .icon-block{
    padding: 27px 0 26px 0 !important;
}



}/* //@media query 767*/

 .slide3 .info3{
      
 }



 
 .slide .btn1{
    width: 100px !important;
    margin: 10px 11px 0 33px !important;
   
}
 
 .slide .btn2{
    width: 150px !important;
    margin: 11px 0 0 -14px !important;
}
 
.slide  .btn3{
    width: 222px !important;
    margin: 11px 0 0px -36px !important;
     
}


.slide3 .hr2{
    
    margin: 55px 0;
}

.slide3 .hr3{
    
    margin: 55px 0 38px 0  ;
}

.slide3 .info1{
    font-size: 20px ;
    line-height: 28px ;
    letter-spacing: 0px  ;
    margin: 5px 0 7px 0;
    /* padding: 0 67px !important; */
}

.slide3 .info2, .slide .info2{
    font-family: FS Me;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding: 12 px 0 39px 0 !important;
        max-width: 331px;
        margin: 0 auto;
}



 
/*Slide 4*/
/*Slide 5*/
.slideC .info {

   font-size: 16px ;
   line-height: 23.8px ;
   font-weight: 400 ;
   /* padding: 8px 58px 25px 58px ; */
   /* padding: 0px 20px 0 20px !important; */
}

.slideC .hr1 {
    margin-top: -4px !important;
    margin-bottom: 10px;
}
.slideC .hr2 {
    margin-top: 41px;
    margin-bottom: 22px;
}

.slideC .info3 {
    
   font-size: 24px ;
   line-height: 28.56px ;
   font-weight: 400 ;
   padding: 8px 58px 50px 58px;
}

.slideC .col-d-2 {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr !important; */
    /* max-width: 550px; */
    
    margin: 0 auto;
    display: grid !important;
    justify-content: center;
    row-gap: 20px;
    padding: 31px 0 0 0;
}



.slides .btn{
    margin-top: 11px !important;
    padding: 16px 17px 16px 15px ;
    margin: 0 auto !important;
}


.slides .info {
    font-family: FS Me;
    /* font-size: 24px !important; */
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
      
    /* padding: 24px 200px 3px 200px  ; */
}

.slides .info1 {
    font-family: FS Me;
    /* font-size: 24px !important; */
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: #6C6761;
    max-width: 639px ;
     
    margin: 0 auto !important;
}



.slides .info3 {
   
}

.slides .info4 {
   
}

.slides .icon-block{
    padding: 39px 0 0px 0 ;
}

/* .slides .icon-info{
    font-family: FS Me;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 19px !important;
    letter-spacing: 0em !important;
    text-align: center;
    padding: 17px 0 35px 0 !important;
} */

.slides .icon-info2 {
    font-family: FS Me;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px 200px !important;
     
}

ul {
    max-width: 580px !important;
    margin: 0 auto;
    column-count: 2;
    padding: 6px 0 1px 58px !important;
    margin-top: -17px !important;
    text-align: right;
     
}

li{
    list-style-image: url(../img/icono-lista.png);
    font-family: FS Me;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #095751;
    padding: 17px 0 0px 14px !important;
}



.dropdown{
    padding: 39px 0 0px 33px;
}

.btn3{width: 250px !important;}

.title-section{
    /* padding: 48px 0 34px 54px !important; */
    text-align: left;
    font-size: 25px !important;
    height: fit-content;
}



/*
.page-title {

font-size: 50px !important;

letter-spacing: 0px !important;

padding: 115px 0 !important;}

 
.box1{    min-height: 135px;}
.box1 .title-section{
	    padding: 48px 0 0 54px !important;
    text-align: left;
    font-size: 25px !important;
}
.box2 .title-section{
padding: 0px 240px 27px 240px !important;
}
.box2 .icon-block{
    padding-bottom: 24px !important;
}

.info1{
max-width: 600px;
margin: 0 auto !important;
padding: 0.5rem 0 4rem 0 !important;

font-family: FS Me;
font-size: 16px !important;
font-style: normal;
font-weight: 400;
line-height: 19px !important;
letter-spacing: 0em !important;
text-align: center;

}

.col-d-3 .col-m-2 {
display: grid;
grid-template-columns: 33% 1fr;
height: 130px;
padding: 25px 25px 25px 25px;
}

.top-btn{
margin: 0 auto;
padding: 58px 0 !important;
}
*/

/*  @media screen and (min-width: 1000px) */


@media screen and (min-width: 1000px){

   
    .dropdown {
        padding: 65px 0 0px 34px !important;
    }

    .title-block{
        max-width: 713px !important;
    }
    .grid-container {
        width: 1056;
    }
    
    .slide .info{
        padding: 20px !important;
        font-size: 24px !important;
    }
    .slide1 .info{
         
        font-size: 24px !important;
    }

    .slide .info2{
        padding: 20px 20px 0 20px;
    }
    .slide .info3{
        padding: 0px 20px 40px 0px !important;
    }


    /*slide 1*/
    .slide1 .info1{
        font-size: 24px !important;
        line-height: 28.56px !important;
        /* padding: 35px 160px !important; */
         
    }

    .slide1 .info2{
        font-size: 24px;
        margin-bottom: 65px;
    }

    /*slide 2*/

    /*slide3*/

    .slide3 .info{

        font-size: 24px !important;
    line-height: 28.56px;
    /* padding: 20px 181px !important; */
    font-weight: 400 !important;
    max-width: 665px;
    padding: 0px 0 37px 0 !important;
    }
    .slide3 .info1{
        font-size: 24px !important;
        line-height: 28.56px !important;
        max-width: 633px !important;
        margin: 0 auto !important;
        padding-top: 46px !important;
        padding-bottom: 0 !important;

    }

    .slide3 .info2{

        font-size: 16px !important;
    line-height: 19.04px;
    padding: 0px !important;
    }
    .slide3 .info3{
        font-size: 24px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 29px !important;
    letter-spacing: 0em !important;
    max-width: 736px;
    margin: 0 auto !important;
  
    padding: 0 !important;
     
    }

    .slide3 .col-d-3{
        display: grid;
        grid-template-columns: 25% 30% 1fr !important;
        column-gap: 1vw;
        margin: 0 auto;
        max-width: 633px !important;
    
    }

    .slide3 .btn1{
        
         
        

    }
    .slide3 .hr1{
        margin-top: 0px !important;
        margin-bottom: 51px !important;
    }

    .slide4 .icon-block {
        padding: 37px 0 0px 0 !important;
    }
    .slide4 .hr1 {
        margin-top: -27px !important;
    margin-bottom: 16px !important;
    }
    .slide4 .info3 {
        font-size: 24px !important;
        line-height: 28.56px !important;
        font-weight: 400;
        padding: 30px 0px 57px 0px !important;
    max-width: 618px !important;
    margin: 0 auto !important;
    }

    .slideC .info0{
        
        max-width: 610px !important;
        margin-bottom: 82px;
        margin-top: 39px !important;
    }

    .slideC .info {
         
        font-size: 24px !important;
        line-height: 28.56px ;
        font-weight: 400 ;
        /* padding: 8px 58px 25px 58px ; */
        padding: 9px 20px 0 20px !important;

     }
     .slides .icon-block {
        padding: 24px 0 0px 0 !important;
    }
    .slideC .icon-block {
        padding: 33px 0 0px 0 !important;
    }

    .slideC .btn{
        padding: 16px 7px !important;
    }
     
    .slideC .hr1 {
        margin-top: 4px !important;
        margin-bottom: 41px !important;
    }
     .slideC .hr2 {
         
         margin-top: 43px;
         margin-bottom: 10px;
     }
     
     .slideC .info3 {
        font-size: 24px !important;
        line-height: 28.56px;
        font-weight: 400;
        padding: 14px 0px 61px 0px;
        max-width: 628px;
        margin: 0 auto;
    }
     
     .slideC .col-d-2 {
        display: grid;
        grid-template-columns: 41% 54%!important;
        max-width: 522px;
        margin: 0 auto;
         
        padding: 34px 0 0 0 !important;
     }

     ul{
        max-width: 751px !important;
     }
     li{
        max-width: 287px;
     }

}/* // @media screen and (min-width: 1000px){  */

.grid-container {
    
  display: grid;
  grid-template-columns: auto;
  padding: 0;
  
  grid-row-gap: 8px !important;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.page-title{
    margin: 0 auto;
    padding: 40px 0 19px 0;
    font-family: LEMON MILK Pro;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #8FAD38;
    text-transform: uppercase;
}

.info1{
    font-family: FS Me;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #6C6761;
    padding: 5px 17px 0 17px;
    margin: 0;
}

.info2 {
    font-family: FS Me;
    /* font-size: 24px; */
    font-style: normal;
    /* font-weight: 700; */
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding: 52px 20px 0 20px;
    margin-bottom: 30px;

 

}

.info3{

    font-family: FS Me;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #6C6761;
    padding: 5px 17px 36px 17px;
    margin: 0;

}

.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    display: grid;
    max-width: 1056px;
     border-radius: 7px;
     align-content: center
     
    
    

}






.icon-block{
    margin: 0 auto;
    text-align: center;
   
}



.title-block{
        
    display: grid;
    align-items: center;
    font-family: FS Me;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    /* padding: 0 47px !important; */
    color: #095751;
        /* padding: 0 47px !important; */
    
        max-width: 493px;

}

.separador-dropdown{
        font-family: FS Me;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        padding: 4px 50px 0 50px;

}

 hr.solid {
  border:  1px solid #E3EAE9;
  width: 100%;
}
.text-separador{
    width: fit-content;
    background: #ffffff;
    margin: auto;
    margin-top: -19px;
    padding: 0 33px;

}

.col-m-2{
    display: grid;
    grid-template-columns: 33% 1fr;
    height: 130px;
    padding: 4px 0px 0px 4px;
}
.col-m-2 .icon-block{
        
        padding: 0;
        margin: 24px 0 0 0;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
             
            font-family: FS Me;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
             
            padding: 45px 0 0 17px;

}
.col-m-2  p{

        font-family: FS Me;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: center;
        color: #6C6761;
        padding: 5px 17px 0 17px;
        margin: 0;


}
.col-d-2 .separador{
        padding: 20px 20px 0 20px;
     
}





.btn {
    width: 165px;
    border-radius: 3px;
    padding: 16px 0 16px 0;
    background: #8FAD38;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    }

.btn a {
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.top-btn{
    margin: 0 auto;
    padding:14px 0;
}

.separador{
    max-width: 600px;
    margin: 0 auto;
}
/*dropdown*/
 ul{ 
    max-width: 560px;
    margin: 0 auto;
 	column-count: 2 ;
}
 
li { 
	list-style-image: url('../img/icono-lista.png'); 
	font-family: FS Me;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color:#095751;

} 
 

.panel{

	width: 100%;
    margin: 0 auto;
    margin-top: -5px;
    text-align: center;

}

/* .slide {
  clear:both;
  	background: white;
  	margin: 0 auto;
  max-width: 1056px;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
   margin-top: -31;
} */
.slide, .slide1, .slide2, .slide3 , .slide4, .slide5, .slide6, .slide7, .slide8, .slide9 {
  clear:both;
  	background: white;
  	margin: 0 auto;
  max-width: 1056px;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
	border-radius: 7px !important;
    margin-top: -14px;
}

.slide .hr1{
    margin: 40px 0 30px 0;
}



.slide .info3{
   

} 
  

.slide3 .btn1{
    width: 131px  ;
    margin: 0 auto;
    margin-top: 11px;
   
}
.slide3 .btn2{
    /* width: 183px ; */
    margin: 0 auto;
    margin-top: 11px;
}
.slide3 .btn3{
    width: 255px ;
    margin: 0 auto;
    margin-top: 11px;
    
}

 

.slides .info{
     
    font-family: FS Me;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 20px 0 20px;
    color: #6C6761;

}
.slides .icon-info{
    font-family: FS Me;
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em ;
    text-align: center;
    padding: 17px 0 35px 0 ;
}

.slides .icon-info2{
    font-family: FS Me;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 36px 20px 0 20px;
     
}

.slides .col-d-2 .btn{
    margin: 0 auto !important;
    
}



.ul-ademas li{
    list-style-image: url(../img/icono-lista.png) !important;
}

.slide3{display: none;}

#touch {position: absolute; opacity: 0; height: 0px;}  

 
#touch:checked + .slide {height: auto;} 


#touch1 {position: absolute; opacity: 0; height: 0px;}    

#touch1:checked + .slide1 {height:auto;min-height: 50px;} 

#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height:auto;min-height: 50px;} 



#touch3 {position: absolute; opacity: 0; height: 0px;}    

#touch3:checked + .slide3 {display:block;height:auto;min-height: 50px;
            } 
 #touch4 {position: absolute; opacity: 0; height: 0px;}    

 #touch4:checked + .slide4 {height:auto;min-height: 50px;
                        }
#touch5 {position: absolute; opacity: 0; height: 0px;}    

#touch5:checked + .slide5 {height:auto;min-height: 50px;
         
}
#touch6 {position: absolute; opacity: 0; height: 0px;}    

#touch6:checked + .slide6 {height:auto;min-height: 50px;
         
}
#touch7 {position: absolute; opacity: 0; height: 0px;}    

#touch7:checked + .slide7 {height:auto;min-height: 50px;
         
}
#touch8 {position: absolute; opacity: 0; height: 0px;}    

#touch8:checked + .slide8 {height:auto;min-height: 50px;}                      
