@font-face {
    font-family: 'LEMON MILK Pro';
    src: url("../fonts/Marsnev - LEMON MILK Pro Regular.otf");
          }
  @font-face {
    font-family: 'FS Me';
    src: url("../fonts/FS Me-Regular.otf");
          }
  
          .info-box-container{
              background: #ffffff;
              margin: 0 auto;
              width: 100%;
              border-radius:10px;
          
          }

          .info-box-container{
            background: #ffffff;
            margin: 0 auto;
            width: 100%;
        
        }
        
        .info{
            padding: 0 20px;
        }
        .icon-block{
            margin: 0 auto;
            text-align: center;
            padding: 25px 0 32px 0;
        }
        
        .title-block{
                
            font-family: FS Me;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1px;
            text-align: center;
            padding: 0 30px 36px 30px;
            color: #095751;
        
        }
        .box2 .title-section{
            padding: 0 66px !important;
        }
        
        .box2 .info1 p{   
            font-size: 16px !important;
            padding: 34px 0 !important;
            line-height: 18px !important;
        }
        
        .separador{
            font-family: FS Me;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            
        
             
        
        }
        .col-d-2 .separador{
             padding: 16px 0 4px 0;
             display: grid;
        }
        
        .col-m-2{
            display: grid;
              grid-template-columns:  1fr auto !important;
              height: 120px;
               
        }
        .col-m-2 .icon-block{
                 
                padding: 0;
                margin: 24px 0 0 0;
        
        }
        
        
        .col-m-2 .icon-block img{
                padding: 6px 0 10px 11px;
                width: 56px;
        
        }
        
        .col-m-2 .title-block{
                  text-align: left !important;
        }
        .col-m-2  p{
        
            text-align: left !important; 
        
        
        }
        
        .col-d-3 .col-m-2{
        grid-template-columns: 19% 1fr !important;
        height: auto !important;
         
         
        }
        
        .col-d-3 .col-m-2 .title-block{
            padding: 0 !important;
        }
        
        .col-d-3 .servicio1 .title-block{
            padding: 48px 22px 0 21px !important;
            letter-spacing: 0 !important;
        }
        
        .col-d-3 .servicio2 .title-block{
            padding: 46px 0 0px 19px !important;
            letter-spacing: 0 !important;
        }
        
        .col-d-3 .servicio3 .title-block{
            padding: 42px 22px 0 21px !important;
            letter-spacing: 0 !important;
        }
        
        .col-d-3 .servicio4 .title-block{
            padding: 51px 22px 0 21px !important;
            letter-spacing: 0 !important;
        }
        
        .col-d-3 .servicio5 .title-block{
            padding: 38px 22px 0 21px !important;
            letter-spacing: 0 !important;
        }
        
        
        
        .box3 .info1 p{
                padding: 37px 0 !important;
                font-size: 16px !important;
                
        }
        
        .box4 .icon-block{
            padding: 28px 0 0 0 !important;
        }
        
        .box4 .info p{
             
            padding: 11px 15px 0 15px !important;
            font-size: 20px !important;
             
            line-height: 25px;
             
        
                
        }
        
        
        
        .box3 .info1 p{
                 
                font-size: 16px !important;
                
        }
        
        .box5 .title-section{ display: none;}
        
        .btn{
            width: 146px !important;
            padding: 8px 2px !important;
            margin-top: 30px !important;
            margin-bottom: 54px !important;
             
        }
        