
/*22-02-22 15.59*/
body{background: #f0efed;color:   #6C6761; margin:0;}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url("../fonts/Marsnev - LEMON MILK Pro Regular.otf");
        }
@font-face {
  font-family: 'FS Me';
  src: url("../fonts/FS Me-Regular.otf");
        }

        .info-box-container{
            background: #ffffff;
            margin: 0 auto;
            width: 100%;
            border-radius:10px;
        
        }
        @media screen and (max-width: 400px) {
            .grid-container{
                margin-left: 16px ;
                margin-right: 16px ;
            }
            .info-box-container{
                background: #ffffff;
                margin: 0 auto;
                width: 100%;
                border-radius:10px;
                min-width: 343px;
                margin-left: 16px;
                margin-right: 16px;
                
            
            }
            
            .icon-block{
                margin: 0 auto;
                text-align: center;
                padding: 25px 0 32px 0;
            }
            
            .title-block{
                    
                font-family: FS Me;
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 1px;
                text-align: center;
                padding: 0 30px 36px 30px;
                color: #095751;
            
            }
            .box .col-d-2 {
                padding: 0 !important;
            }
            .box2 .col-m-2 .title-block {
                padding: 21px 0 10px 0px;
                margin-left: -2px !important;
                margin-right: -35px;
            }
             
            .box1 { padding-bottom: 52px !important;}
            .box1 .hr2{margin-top: 49px !important;}
            .box2 .title-section{
                padding: 0 66px !important;
            }
            
            .box2 .col-d-2 {
                padding: 4px 20px 57px 8px !important;
            }
             
            .box2 .hr1{
                margin-top: -21px !important;
            }
            
            .box2 .info1 p {
                font-size: 16px !important;
                padding: 11px 0 36px 0 !important;
                line-height: 19.04px !important;
            }
            
            .box3 .icon-block {
                padding: 25px 0 32px 0 !important;
            }
            .box3 .info{
                padding-bottom: 20px !important;
            }
            .box3 .info p {
                font-size: 20px !important;
                 
                line-height: 24px !important;
                
                margin: 0 auto;
                padding: 20px 0 0 0 !important;
                max-width: 288px !important;
                 
 

            }
            .box4 .icon-block {
                padding: 28px 0 19px 0 !important;
            }
            .box5 .col-m-2 .icon-block{
                padding: 25px 0px 0 0 !important;
                 
                margin: -28px 19px 0 -5px;
            }
            .box5 .col-m-2 .title-block {
                text-align: left !important;
                margin-left: 0 !important;
            }
            .box5{
                padding-bottom: 46px;
            }
            .box6{
                padding-bottom: 57px;
            }
            .box6 .info {
                 
                font-size: 20px !important;
                line-height: 23.80px !important;
                max-width: 295px;
                margin-bottom: -20px;
            }
            .box7 .info {
                padding: 0 20px 6px 20px !important;
                font-size: 20px !important;
                line-height: 23.80px !important;
                max-width: 258px;
                margin: 0 auto;
            }
            

            .separador{
                font-family: FS Me;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: center;
                
            
                 
            
            }
            .col-d-2 .separador{
                 padding: 16px 0 4px 0;
                 display: grid;
                 margin-top: -7px;
            }
            
            .col-m-2{
                display: grid;
                  grid-template-columns:  1fr auto !important;
                  /* height: 120px; */
                   
            }
           
            /* .col-m-2 .icon-block {
                padding: 0;
                margin: -1px 16px 0 -35px !important;
            } */
            
            
            .col-m-2 .icon-block img{
                    padding: 6px 0 10px 11px;
                    width: 56px;
            
            }
            
            .col-m-2 .title-block{
                      text-align: left !important;
                      margin-left: -18px !important;
            }
            .col-m-2  p{
            
                text-align: left !important; 
                
                max-width: 221px;
            
            
            }
            
            
            
            .col-d-3 .col-m-2{
            grid-template-columns: 19% 1fr !important;
            height: auto !important;
             
             
            }
            
            .col-d-3 .col-m-2 .title-block{
                padding: 0 !important;
            }
            
            .col-d-3 .servicio1 .title-block{
                padding: 48px 22px 0 21px !important;
                letter-spacing: 0 !important;
                line-height: 23.8px;
            }
            
            .col-d-3 .servicio2 .title-block{
                padding: 46px 0 0px 19px !important;
                letter-spacing: 0 !important;
            }
            
            .col-d-3 .servicio3 .title-block{
                padding: 42px 22px 0 21px !important;
                letter-spacing: 0 !important;
            }
            
            .col-d-3 .servicio4 .title-block{
                padding: 51px 22px 0 21px !important;
                letter-spacing: 0 !important;
            }
            
            .col-d-3 .servicio5 .title-block{
                padding: 38px 22px 0 21px !important;
                letter-spacing: 0 !important;
            }
            
            
            
            .box3 .info1 p {
                padding: 12px 0 43px 0 !important;
                font-size: 16px !important;
                line-height: 19.04px;
            }
            
            
            
            .box4 .info p{
                padding: 11px 15px 0 15px !important;
                font-size: 20px !important;
                line-height: 23.8px;
                 
            
                    
            }
             
            
            .btn{
                width: 146px !important;
                padding: 8px 2px !important;
                margin-top: 30px !important;
                margin-bottom: 54px !important;
                 
            }
            
            
            
            }/*@media screen and (max-width: 375px)*/
            
/* On screens that are 375px or less */
@media screen and (max-width: 767px) {
    .box1{ 
        padding-bottom: 40px ;
    }
.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;

}

.info{
    padding: 0 20px;
}
.icon-block{
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 32px 0;
}

.title-block{
        
    font-family: FS Me;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px 36px 30px;
    color: #095751;

}
.box2 .title-section{
    padding-bottom: 0px !important;
}

.box2 .info1 p{   
    font-size: 16px !important;
    padding: 34px 0 !important;
    line-height: 18px !important;
}

.separador{
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    

     

}

.box2 .col-d-2 {padding: 4px 20px 45px 8px;}

.box2 .col-d-2 .separador{
    padding: 55px 20px 0px 20px;
    display: grid;
     
}

.box2 .title-block{
    font-size: 20px;
}

.col-m-2{
    display: grid;
      /* grid-template-columns:  25% auto !important; */
      /* height: 120px; */
      padding: 0px 20px 0px 0px;
       
}
.col-m-2 .icon-block{
         
        padding: 0;
        margin: 24px 0 0 0;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
          text-align: left !important;
}
.col-m-2  p{

    text-align: left !important; 


}

.col-d-3 .col-m-2{
grid-template-columns: 19% 1fr !important;
height: auto !important;
 
 
}

.col-d-3 .col-m-2 .title-block{
    padding: 0 !important;
}

.col-d-3 .servicio1 .title-block{
    padding: 48px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio2 .title-block{
    padding: 46px 0 0px 19px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio3 .title-block{
    padding: 42px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio4 .title-block{
    padding: 51px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio5 .title-block{
    padding: 38px 22px 0 21px !important;
    letter-spacing: 0 !important;
}



.box3 .info1 p{
        padding: 37px 0 !important;
        font-size: 16px !important;
        
}
.box3 .info p{
         
        font-size: 20px !important;
        padding-bottom: 37px !important;
        line-height: 23,8px !important;
        
}

.box3 .icon-block{
    padding:25px 0 15px 0 !important;
}

.box4 .icon-block{
    padding: 28px 0 20px 0 !important;
    
}

.box4 .info p{
      
    padding: 11px 15px 0 15px !important;
    font-size: 20px !important;
     
    line-height: 25px;
     

        
}


.box4 .info1{
    font-size: 16px !important;
     line-height: 19.4px;
     padding-top: 34px;
}


.box5 .title-section{ display: none;}

.box5 .icon-block{
    padding: 25px 0 0 0 !important;
}



.box5 .icon-fisio{
    display: none;
}

.box6 .info {
    padding: 0  20px 25px 20px !important;
    font-size: 20px !important;
    line-height: 23.80px !important;
     
}

.box7 .info {
    padding: 0 20px 5px 20px !important;
    font-size: 20px !important;
    line-height: 23.80px !important;
    max-width: 278px !important;
    
     
}

.btn{
    width: 146px !important;
    padding: 8px 2px !important;
    margin-top: 35px !important;
    margin-bottom: 54px !important;
     
}

@media screen and (min-width: 401px)  {
    
    .box4 .btn{margin-bottom: 41px !important;}
    .box3 .info1, .box2 .info1 {padding: 0 30px 30px 30px;}
    .col-d-2{
        
    max-width: 400px;
    margin: 0 auto !important;}

    .col-m-2 .title-block ,.col-m-2 p {
        text-align: left !important;
        
    }
    .col-m-2 p {
        max-width: 200px;
     
    }
    
}



}/*@media screen and (max-width: 375px)*/

/* On screens that are 400px or less */

@media screen and (min-width: 768px) {
    .grid-container{
        margin-left: 32px !important ;
        margin-right: 32px !important ;
    }
    
    .box1{ 
        padding-bottom: 95px !important;
    }

.col-m-2{
    display: grid;
      grid-template-columns:    auto !important;
      align-content: baseline;
     
       
}

.col-m-2 p{
    line-height: 19.6px !important;
}


.col-m-2 .icon-block{
padding: 0 !important;		
margin: 0 !important;
}

.col-d-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 610px !important;
    margin: 0 auto !important;
    height: fit-content !important;
    padding: 31px 0 66px 0 !important
}
.col-d-2 .separador{
     
     display: none;
}
.col-m-2 .title-block {
padding: 12px 0 7px 0 !important;
}

.col-m-2  p {
    
/* padding: 7px 31px 0 28px !important; */
font-size: 16px !important;
line-height: 19.4px;
max-width: 281px;
margin: 0 auto !important;
padding: 0;


}



.icon-block {
    padding: 40px 0 32px 0 !important;
}
.title-section{
 
font-size: 32px !important;
 

letter-spacing: 0rem !important;
line-height: 36px !important;

}

.col-d-3 {
display: grid;
max-width: 833px;
grid-template-columns: 1fr 1fr 1fr; 
margin: 0 auto;
}

.box1 {
    padding-bottom: 70px !important;
}
.box1 .hr1{
    margin-bottom: -31px;
}

.box2 .col-m-2 .p{
    font-size: 14px !important;
    padding: 7px 6px 0 6px !important;

}
 

.box3 .info1{
padding: 0px 17px 0 17px !important;
}

.box3 .info1 p{    padding: 18px 0 50px 0 !important;}

.box4 .icon-block{    padding: 55px 0 9px 0 !important;}

.box4 .info{padding: 0 202px !important;}

.box4 .info1{padding: 0   !important;font-size: 24px !important;}
.box4 .icon-block{
    padding: 45px 0 20px 0 !important
     
    
}

.box4 .btn{
    margin-top: 39px;
    margin-bottom: 65px;
}

.box1{
    /* min-height: 569px !important; */
   padding-bottom: 55px;

}

.box1 .title-section{
    padding: 4px 105px 34px 105px !important;
    line-height: 28px !important;
    font-size: 24px !important;
    max-width: 422px;
}

.box1 .col-d-2{
    padding-bottom: 0px !important;
}



.box2 .title-section{
    font-size: 24px !important;
    line-height: 28px !important;
    max-width: 252px;
    
}
.box2 .col-d-2{
   
}
.box2 .col-m-2{
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

 
.box2 .col-m-2 .icon-block{
    padding:0 !important;
}


.box3{
    padding-bottom: 55px;
}
.box3 .icon-block{
    padding: 38px  0  35px  0 !important;

    font-size: 24px;
}

.box3 .info{
    padding: 0  0 39px 0x !important;
    font-size: 24px;
    line-height: 28,56px;
    max-width: 555px;
    margin: 0 auto !important;
}
.box4 .info {
    padding: 15px 0px 35px 0px !important;
    font-size: 24px;
    max-width: 500px;
    margin: 0 auto;
     
}

.box4 .info1 {
    font-size: 18px !important;
    line-height: 21.42px;
    max-width: 550px;
    margin: 0 auto !important;
     
     
}

 
.box5 .col-d-2{ display: none;}
.box5 .icon-doctor{ display: none;}

.box5 .title-section{
 
    font-size: 24px !important;
    letter-spacing: 0rem !important;
    line-height: 28.56px !important;
    padding: 0 195px 75px 195px !important;

    
    }

.box5 .icon-block img{
    width: 88px !important;
}

.box5 .info {
    padding: 0 38px !important;
    font-size: 24px !important;
    line-height: 25.56px !important;
}

.box5 .info1 {
    padding: 0 75px !important;
    font-size: 16px !important;
    line-height: 25.56px !important;
}

.box5 .btn {
    margin-top: 46px !important;
    margin-bottom: 90px !important;
}

.box6 {
    padding-bottom: 63px;
}
.box6 .info {
    max-width: 544px;
    margin: 0 auto;
}

.box7 .info {
    padding: 0 0 66px 0 !important;
    max-width: 537px;
    margin: 0 auto !important;
}

.box7 .icon-block{
    padding: 39px 0 37px 0 !important;
}

.box7 .btn{
    margin-bottom: 60px;
}
.top-btn {
    margin: 0 auto;
    padding: 31px 0 !important;
}
}/* @media screen and (min-width: 400px) */

@media screen and (min-width: 1000px) {


.page-title {

font-size: 50px !important;

letter-spacing: 0px !important;

padding: 115px 0 !important;}

.box1 {padding-bottom: 88px !important;}

.box1 .icon-block{
    padding: 0px;
    
}

.box1 .hr1 {
    margin-bottom: -31px;
    margin-top: 38px;
}

.box1 .title-section{
    padding: 12px 0 0 0!important;
     
    line-height: 38px !important;
    font-size: 34px !important;
    max-width: 620px;
    
}

.box2 .title-section{
    font-size: 32px !important;
    line-height: 38.08px !important;
    font-weight: 700 !important;
    max-width: 500px;
     
}
.col-m-2 p {
    
    font-size: 16px !important;
    line-height: 19.4px;
    max-width: 225px !important;
    margin: 0 auto !important;
    padding: 0;
    
}
.box2 .col-m-2 .p{
    
font-size: 16px !important;
font-weight: 400 !important;
line-height: 19px !important;
letter-spacing: 0em !important;
padding: 0 20px !important ;
 

}

.box2 .icon-block{
    padding-top: 56px !important;
}

.box2 .col-m-2 .icon-block{
    padding-bottom: 6px !important;
}

.box2 .col-d-2 {
    padding-bottom: 85px !important;
}


.box3 .col-d-2 {
    padding: 0px 0 179px 0 !important;
}

.box3 .col-d-2 .icon-block{
    padding: 0 !important;
}

.box3 .col-d-2 p{
    padding: 0 20px !important;
}

.box3 .icon-block{
    padding: 56px 0 13px 0!important;
}
.box3 .info{
     
    font-size: 24px;
    line-height: 28,56px;
    max-width: 613px;
    margin: 0 auto !important;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

.box4 .icon-block{
    padding: 55px 0 33px 0 !important;
}

.box4 .info{
    padding: 0  !important;  
    font-size: 24px !important;
    max-width: 650px;
}
.box4 .info1{
    padding: 43px 0 0 0 !important;
    font-size: 16px !important;
     
}

.box4 .btn {
    margin-top: 31px !important;
    margin-bottom: 78px !important;
}

.box5 .icon-block {
    padding: 58px 0 47px 0 !important;
}

.box5 .title-section {
    font-size: 32px !important;
    padding: 0px 282px 86px 282px !important
}



.box6 .icon-block {
    padding: 55px 0 39px 0 !important;
}

.box6 .icon-block img{
    width:88px !important;
}
.box6 .info {
    padding: 0 0 20px 0 !important;
    font-size: 24px !important;
    max-width: 628px;
}

.box7 .icon-block{
     
    padding: 55px 0 14px 0 !important;

}
.box7 .icon-block img{
    width:88px !important;
}
.box7 .info {
    padding: 21px 0 0 0 !important;
    font-size: 24px !important;
    max-width: 627px;
}

.box7 .btn{
    margin-top: 32px !important;
    margin-bottom: 86px !important;
         
}


.info1{
max-width: 600px;
margin: 0 auto !important;
padding: 0.5rem 0 4rem 0 !important;

font-family: FS Me;
font-size: 16px !important;
font-style: normal;
font-weight: 400;
line-height: 19px !important;
letter-spacing: 0em !important;
text-align: center;

}

.col-d-3 .col-m-2 {
display: grid;
grid-template-columns: 33% 1fr;
height: 130px;
padding: 25px 25px 25px 25px;
}

.top-btn{
margin: 0 auto;
padding: 58px 0 !important;
}


.top-btn {
    margin: 0 auto;
    padding: 31px 0 !important;
}

}/*  @media screen and (min-width: 1000px) */





.grid-container {
    
  display: grid;
  grid-template-columns: auto;
  padding: 0;
  margin:0px 16px;
  grid-row-gap: 1em;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.page-title{
    margin: 0 auto;
    padding: 40px 0 19px 0;
    font-family: LEMON MILK Pro;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #8FAD38;
    text-transform: uppercase;
}


.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    
    max-width: 1056px;
    

}



.icon-block{
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 32px 0;
}



.title-block{
        
    font-family: FS Me;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.8px;
    letter-spacing: 1px;
    text-align: center;
     
    color: #095751;
    max-width: 383px;
    margin: 0 auto;

}

.separador{
        font-family: FS Me;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.4px;
        letter-spacing: 0em;
        text-align: center;
        padding: 4px 20px 0 20px;

}

 hr.solid {
  border-top: 1px solid #E3EAE9;
  width: 100%;
}
.text-separador{
    width: fit-content;
    background: #ffffff;
    margin: auto;
    margin-top: -19px;
    padding: 0 35px;
}



.col-m-2 {
    display: grid;
    grid-template-columns: 33% 1fr;
    /* height: 130px; */
    padding: 32px 0px 0px 16px;
}
.col-m-2 .icon-block{
        
    padding: 0;
    margin: -1px 16px 0 -7px;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
             
            
             
    padding: 21px 0 10px 0;

}
.col-m-2  p{

        font-family: FS Me;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.6px;
        letter-spacing: 0px;
        text-align: center;
        color: #928B84;
         
        margin: 0;


}
.col-d-2 .separador{
    padding: 0 20px 0 20px;
     
}

.info1{
    font-family: FS Me;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #928B84;
    padding: 5px 17px 0 17px;
    margin: 0;
}

.info{
     
    font-family: FS Me;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}



.btn {
    width: 165px;
    border-radius: 3px;
    padding: 16px 0 16px 0;
    background: #8FAD38;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    }

.btn a {
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.top-btn{
    margin: 0 auto;
    padding:14px 0;
}

.separador{
    max-width: 600px;
    margin: 0 auto;
}

 