body{background: #f0efed;color:   #6C6761; margin: 0;}

@font-face {
  font-family: 'LEMON MILK Pro';
  src: url("../fonts/Marsnev - LEMON MILK Pro Regular.otf");
        }
@font-face {
  font-family: 'FS Me';
  src: url("../fonts/FS Me-Regular.otf");
        }

        strong{
            font-weight: 700;
        }

/* On screens that are 375px or less */
@media screen and (max-width: 400px) {
    .grid-container{
        margin-left: 16px;
        margin-right: 16px;
    }


.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    border-radius:10px;
     
   

}

.icon-block{
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 32px 0;
}

.title-block{
        
    font-family: FS Me;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px 36px 30px;
    color: #095751;

}
.box2 .title-section{
    padding: 0 66px !important;
}

.box2 .hr1{
    margin-top: 29px;
}

.box2 .info1 p {
    font-size: 16px !important;
    padding: 0px 0 50px 0 !important;
    line-height: 19.04px !important;
}

.box3 .info1{
    padding: 10px 17px 0 17px !important;
}

.separador{
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    

     

}
.col-d-2 .separador{
     padding: 16px 0 4px 0;
     display: grid;
}

.col-m-2{
    display: grid;
      grid-template-columns:  1fr auto !important;
      height: 120px;
       
}
.col-m-2 .icon-block{
         
        padding: 0;
        margin: 24px 0 0 0;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
          text-align: left !important;
}
.col-m-2  p{

    text-align: left !important; 

    max-width: 220px !important;
     

}



.col-d-3 .col-m-2{
grid-template-columns: 19% 1fr !important;
height: auto !important;
 
 
}

.col-d-3 .col-m-2 .title-block{
    padding: 0 !important;
}

.col-d-3 .servicio1 .title-block{
    padding: 48px 22px 0 21px !important;
    letter-spacing: 0 !important;
    line-height: 23.8px;
}

.col-d-3 .servicio2 .title-block{
    padding: 46px 0 0px 19px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio3 .title-block{
    padding: 42px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio4 .title-block{
    padding: 51px 22px 0 21px !important;
    letter-spacing: 0 !important;
}

.col-d-3 .servicio5 .title-block{
    padding: 38px 22px 0 21px !important;
    letter-spacing: 0 !important;
}



.box3 .info1 p {
    padding: 12px 0 43px 0 !important;
    font-size: 16px !important;
    line-height: 19.04px;
}

.box4 .icon-block{
    padding: 28px 0 0 0 !important;
}

.box4 .info p{
    padding: 11px 15px 0 15px !important;
    font-size: 20px !important;
    line-height: 23.8px;
     

        
}
 

.btn{
    width: 146px !important;
    padding: 8px 2px !important;
    margin-top: 30px !important;
    margin-bottom: 54px !important;
     
}

.top-btn {
    margin: 0 auto;
    padding: 25px 0 !important ;
}


}/*@media screen and (max-width: 375px)*/

@media screen and (min-width: 401px)  {
    .grid-container{
        margin-left: 16px ;
        margin-right: 16px ;
    }
   
    .box4 .btn{margin-bottom: 41px !important;}
    .box3 .info1, .box2 .info1 {padding: 0 30px 30px 30px;}
    .col-m-2{grid-template-columns: 25% 1fr !important;}
    .col-d-2, .col-d-3{
        
    max-width: 400px;
    margin: 0 auto !important;}

    .col-m-2 .title-block ,.col-m-2 p {
        text-align: left !important;
    }
   
    
}/* //@media screen and (max-width: 400x)*/




/* On screens that are 400px or less */
@media screen and (min-width: 767px)  {
    .grid-container{
        margin-left: 32px !important;
        margin-right: 32px !important;
    }
.page-title{padding: 20px 0 42px 0 ;}
/*.text-separador{max-width: 484px;}*/
.col-m-2{
    display: grid;
      grid-template-columns:    auto !important;
     
       
}

.col-m-2 .icon-block{
padding: 0 !important;		
margin: 0 !important;
}

.col-d-2{
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 617px !important;
margin: 0 auto !important;
height: fit-content !important;
padding: 31px 0 0 0;

}
.col-d-2 .separador{
     
     display: none;
}
.col-m-2 .title-block {
padding: 12px 0 7px 0 !important;
text-align: center !important;
}

.col-m-2  p {

    padding: 0px 9px 0 10px !important;
    font-size: 16px !important;
    line-height: 19.04px !important;
    text-align: center !important;


}

.icon-block {

    padding: 42px 0 32px 0 !important;
}
.title-section{
 
font-size: 32px !important;
 

letter-spacing: 0rem !important;
line-height: 36px !important;

}

.col-d-3 {
display: grid;
max-width: 833px;
grid-template-columns: 1fr 1fr 1fr; 
margin: 0 auto;
}

.box1{
     
     
} 
.box1 {
    padding-bottom: 76px !important;
}

.box1 .icon-block{
    padding: 42px 0 26px 0  ;
     
}
.box1 .col-m-2 .icon-block{
    padding: 0 !important;
}



.col-m-2 .icon-block img {
    padding: 0 0 9px 0 !important;
    
}
.box1 .col-m-2 .title-block {
    font-size: 20px;
    padding: 12px 0 4px 0 !important;
    line-height: 23,8px;
    text-align: center !important;
}

.box1 .col-m-2 p {
    /* padding: 0 24px !important; */
    max-width: 257px;
    margin: 0 auto;
    
}
 

.box1 .title-section{
    font-size: 24px !important;
    padding: 0 150px 0 150px !important;
}

.box1 .hr1 {
    padding: 28px 0 0 0;
}

/*box 2*/
.box2 .icon-block{
    padding: 42px 0 26px 0 !important;
}
.box2 .title-section{
    
    font-size: 24px !important;
    padding: 4px 200px 0 200px !important;
    line-height: 28.56px !important;

}

.box2 .hr1{
    margin-top:28px !important;
}

.box2 .info1{
    font-family: FS Me;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 19.04px !important;
    letter-spacing: 0px !important;
    text-align: center;
    max-width: 474px;
    margin: 0 auto;
    padding: 30px 0 55px 0;
     
}
/*box 3*/
.box3 .icon-block{
    padding: 42px 0 29px 0 !important;
}

.box3 .col-d-3{
     
    max-width: 600px !important;
}

.box3 .col-m-2{
    padding: 0  !important;
    margin-top: -7px;
}

.box3 .col-m-2 .icon-block{
    padding: 41px 0 0 0!important;
     
}

.box3 .col-m-2 .title-block{
    padding: 11px 0 0 0!important;
     
}

.box3 .servicio3 p{
    font-size: 14px !important;
    padding: 7px 0 0 0 !important;
    line-height: 17px !important;
     
}


.box3 .col-d-3 .servicio1{
    padding: 0 0 80px 0 !important;
}

.box3 .hr2{
    margin-top: 61px;
     
}

.box3 .info1{
    padding: 30px 0 55px 0;
    font-size: 16px;
    line-height: 19px;
    max-width: 500px;
    margin: 0 auto;
}

 
/*box4*/
.box4 .btn{margin-bottom: 55px !important;}
.box4 .icon-block{   padding: 40px 0 9px 0 !important;}

.box4 .info{ 
     padding: 45px 0 0 0px !important;
    
    max-width: 539px;
    margin: 0 auto;}
.box4 .info1{
    font-size: 18px !important;
    line-height: 21.42px;}


.box4 .btn{

    margin-top: 37px;
    margin-bottom: 64px;

}



}/* @media screen and (min-width: 400px) */


 


@media screen and (min-width: 1000px) {


.page-title {

font-size: 50px !important;

letter-spacing: 0px !important;

padding: 115px 0 !important;}

.box1 .icon-block{
    padding: 56px 0 37px 0 !important;
     
     
}

.box1{
  
}

.box1 .title-section{
padding: 1px 270px 13px 270px !important;
font-size: 32px !important;

}

.box1 .col-m-2 .title-block {
    font-size: 20px;
    line-height: 23,8px;
    padding: 19px 0 5px 0 !important;
}

 
/*box2*/
.box2 .title-section{
    padding: 0px 240px 27px 240px !important;
    font-size: 32px !important;
    line-height: 23.8px !important;
}

.box2 .icon-block{
    padding: 56px 0 37px 0 !important;
     
}

.box2 .hr1{
     margin-top: 8px !important;
     
}

.box2 .info1 {
    padding-top: 35px !important;
    padding-bottom: 64px !important;
    max-width: 614px !important;
    
}

/*box3*/

 

.box3 .icon-block{
    padding: 56px 0 29px 0 !important;
     
}

.box3 .col-d-3 {
    max-width: 863px !important;
}

.box3 .hr2 {
    margin-top: 39px;
}

.box3 .col-d-3 .servicio1 {
    padding: 0 0 63px 0 !important;
}

.box3 .col-m-2 .title-block {
    padding: 11px 20px 0 20px !important;
}

.box3 .info1 {
    padding: 35px 0px 62px 0 !important;
    font-size: 16px !important;
    line-height: 19.04px !important;
    max-width: 617px !important;
}
.box3 .servicio3 p{
     
    font-family: FS Me;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 19px !important;
    letter-spacing: 0em;
    padding: 7px 58px !important;
    text-align: center;

}
/*box4*/



.box4 .icon-block {
    padding: 57px 0 9px 0 !important;
}
.box4 .info {
    padding: 45px 204px 1px 204px !important;
    font-size: 24px;
    max-width: 612px;
    margin: 0 auto;
}
.box4 .info1 {
    padding: 30px 0 0 0 !important;
    font-size: 18px !important;
}



.info1{
max-width: 600px;
margin: 0 auto !important;
padding: 0.5rem 0 4rem 0 !important;

font-family: FS Me;
font-size: 16px !important;
font-style: normal;
font-weight: 400;
line-height: 19px !important;
letter-spacing: 0em !important;
text-align: center;

}

.col-d-3 .col-m-2 {
display: grid;
grid-template-columns: 33% 1fr;
height: 130px;
padding: 25px 25px 25px 25px;
}

.top-btn{
margin: 0 auto;
padding: 58px 0 !important;
}

.separador{
    max-width: 610px !important;
}

.box1 .col-m-2 p {
    /* padding: 0 24px !important; */
    max-width: 250px !important;
    margin: 0 auto;
}

}/*  @media screen and (min-width: 1000px) */



.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    border-radius:10px;

}

.grid-container {
    
  display: grid;
  grid-template-columns: auto;
  padding: 0;
   
  grid-row-gap: 1em;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.page-title{
    margin: 0 auto;
    padding: 40px 0 19px 0;
    font-family: LEMON MILK Pro;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #8FAD38;
    text-transform: uppercase;
}


.info-box-container{
    background: #ffffff;
    margin: 0 auto;
    width: 100%;
    
    max-width: 1056px;
    

}
.box1{ padding-bottom: 45px;}



.icon-block{
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 32px 0;
}



.title-block{
        
    font-family: FS Me;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.8px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px 36px 30px;
    color: #095751;

}

.separador{
        font-family: FS Me;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.04px;
        letter-spacing: 0em;
        text-align: center;
        padding: 4px 20px 0 20px;


}

 hr.solid {
  border: 1px solid #E3EAE9;
  width: 100%;
}
.text-separador{
    width: fit-content;
    background: #ffffff;
    margin: auto;
    margin-top: -19px;
    padding: 0 35px;
    color:#6C6761;
}



.col-m-2{
    display: grid;
    grid-template-columns: 33% 1fr;
    height: 130px;
    padding: 4px 16px 0px 16px;
}
.col-m-2 .icon-block{
        
        padding: 0;
        margin: 24px 0 0 0;

}


.col-m-2 .icon-block img{
        padding: 6px 0 10px 11px;
        width: 56px;

}

.col-m-2 .title-block{
             
            font-family: FS Me;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
             
            padding: 45px 0 0 17px;

}
.col-m-2  p{

        font-family: FS Me;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.66px;
        letter-spacing: 0px;
        text-align: center;
        color: #928B84;
        padding: 5px 0px 0 21px;
        margin: 0;


}
.col-d-2 .separador{
        /* padding: 20px 20px 0 20px; */
        padding: 0px 16px 0px 16px;
     
}

.info1{
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.4px;
    letter-spacing: 0px;
    text-align: center;
    color: #928B84;
    padding: 30px 17px 0 17px;
    margin: 0;
}

.info{
     
    font-family: FS Me;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.56px !important;
    letter-spacing: 0em;
    text-align: center;
    padding: 35px 20px 0 20px;

}

.btn {
    width: 165px;
    border-radius: 3px;
    padding: 16px 0 16px 0;
    background: #8FAD38;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    }

.btn a {
    font-family: FS Me;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
}



.top-btn{
    margin: 0 auto;
    padding: 55px 0;
}

.separador{
    max-width: 500px;
    margin: 0 auto;
}
